

openai
tiktoken
OpenAIAuth==0.3.2
httpx
prompt-toolkit

# haigf
# PySide2  # for haigf
pillow  # for haigf
pyyaml  # for haigf
# pyqtgraph  # for haigf

damei
numpy # for damei
easydict  # for damei

 Flask-SQLAlchemy  # for sql



