<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="static/css/login-style.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
  </head>
  <body>
    <div id="login-form">
      <form id="login-form">
        <div class="title">
          <img src="{{ url_for('static', filename='/icons/ai.png') }}" class="icon" />
          <div class="title">HaiChatGPT</div>
        </div>
        <fieldset>
          <label >统一认证账号登录</label>
          <button type="submit" id="umt-login" formnovalidate>登 录</button>
        </fieldset>
        <hr class="centered-hr">
        <fieldset>
          <label for="username">本地用户登录</label>
          <label for="username">用户名</label>
          <input type="text" id="username" name="username" placeholder="请输入本地用户名" required><br>
          <label id="password-label" for="password" style="display: none;">密码</label>
          <input type="password" id="password" name="password" placeholder="请输入密码" style="display: none;"><br>
          <script>
            // 获取用户名和密码输入框
            var usernameInput = document.getElementById("username");
            var passwordInput = document.getElementById("password");
            var passwordlabel = document.getElementById("password-label");
            
            // 监听用户名输入框的 focus 事件
            usernameInput.addEventListener("focus", function() {
              // 显示密码输入框和标签
              passwordInput.style.display = "inline";
              passwordlabel.style.display = "inline";
              document.getElementsByTagName("label")[1].style.display = "inline";
            });
          </script>
          <button type="submit" id="local-login" formnovalidate >登 录</button>
          <button type="button" id="register-button" formnovalidate>注册</button> <!-- 添加注册按钮 -->
        </fieldset>
      </form>
    </div>

    <!-- 添加注册表单 -->
    <div id="register-form-div" style="display: none">
      <form id="register-form" style="display: block">
        <div class="title">
          <img src="{{ url_for('static', filename='/icons/ai.png') }}" class="icon" />
          <div class="title">HaiChatGPT</div>
        </div>
        <label for="name">用户名:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="password">密码:</label>
        <input type="password" id="reg_password" name="reg_password" required><br>
        <label for="phone">手机号码:</label>
        <input type="tel" id="phone" name="phone" required><br>
        <label for="reg_email">邮箱:</label>
        <input type="email" id="reg_email" name="reg_email" required><br>
        <!-- <button type="button" id="send-code-button">发送验证码</button>
        <label for="code">验证码:</label>
        <input type="text" id="code" name="code" required><br> -->
        <button type="register" id="register-btn-in-form">注册</button>
      </form>
    </div>
    
    <script src="/static/js/login.js"></script>
  </body>
</html>
