@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

body,
input {
  font-size: 14px;
  line-height: 20px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
body {
display: flex;
flex-direction: row;
/* align-items: center; */
/* padding: 10px; */
font-size: 14px;
font-family: "ColfaxAI", Helvetica, sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: calc(100vh - 50px);
  /* border: 1px solid #353740; */
  margin-right: 10px;
  background-color: #353740;
  color: white;
  border-radius: 5px;
}

.new-chat {
margin: 5px;
border: 1px solid rgb(108, 108, 108);
border-radius: 5px;
height: 30px;
margin-bottom: 10px;
display: flex;
align-items: center;
padding: 10px;
}

.history {
overflow-y: auto;
margin: 5px;
/* border: 1px solid black; */
/* height: 300px; */
height: 100%;
margin-bottom: 10px;
}

.settings {
margin: 5px;
border: 1px solid rgb(90, 90, 90);
height: 30px;
display: flex;
align-items: flex-end;
}

.main {
display: flex;
flex-direction: column;
float: right;
width: calc(100% - 200px);
height: calc(100vh - 50px);
}

.title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
  align-items: flex-end;
}

  .icon {
    width: 40px;
    height: 40px;
  }
  .title2 {
    font-size: 28px;
    /* line-height: 40px; */
    font-weight: bold;
    color: #526ca1;
    /* no under line */
    text-decoration: none;
    /* margin: 16px 0 40px; */
  }

.hyper_link {
  color: #94abdd;
  /* text-decoration: none; */
}
.output {
  overflow-y: scroll;
  height: 100%;
  border: 1px solid rgb(60, 60, 60);
  margin-bottom: 10px;
}
.output::-webkit-scrollbar {
  width: 0.2em;
  background-color: #F5F5F5;
}

.output::-webkit-scrollbar-thumb {
background-color: #000000;
}

.output::-webkit-scrollbar-thumb:hover {
background-color: #555555;
}

.user-message {
  background-color: #f9ebf7;
  padding: 10px;
  margin: 10px;
}

.chatbot-message {
  background-color: #f3f2f9;
  padding: 10px;
  margin: 10px;
}

.question_div {
  display: flex;
  flex-direction: row;
  background-color: #e6ecf9;
  padding: 10px;
  margin: 10px;
}

.answer_div {
  display: flex;
  flex-direction: row;
  background-color: #eafcf0;
  padding: 10px;
  margin: 10px;
}


.question_text {
  display: flex;
  flex-direction: row;
  background-color: #6989cf;
  padding: 0px;
  margin: 0px;
}

.answer_text {
  display: flex;
  flex-direction: row;
  background-color: #6dcf9c;
  padding: 0px;
  margin: 0px;
}


.last_question {
  display: flex;
  flex-direction: row;
  background-color: #e6ecf9;
  padding: 10px;
  margin: 10px;
}
.last_answer {
  display: flex;
  flex-direction: row;
  background-color: #eafcf0;
  padding: 10px;
  margin: 10px;
  overflow: auto;
}
/* 
.last_answer2 {
  display: flex;
  flex-direction: row;
  background-color: #eafcf0;
  padding: 10px;
  margin: 10px;
  border-radius: 5px; 
}*/

.markdown-content {
  display: flex;
  flex-direction: row;
  background-color: #eafcf0;
  padding: 10px;
  margin: 10px;
}

.code_block_title {
  /* background-color: #6d717b; */
  background-color: #606060;
  color: #ffffff;
  border-radius: 5px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  font-family: "ColfaxAI";
}

.code_block_pre {
  /* background-color: #303030; */
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  /* padding: 0px 5px; */
  /* 横向填满窗口 */
}

.small_code_block {
  background-color: rgb(255, 255, 255);
  /* color: #ffffff; */
  padding: 0px 2px;
  font-family: "ColfaxAI";
}

.copy-button {
  background-color: #7f8cb3;
  color: #ffffff;
  border-radius: 5px;
  border: 2px solid #7a88a6;
}


.question_img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.answer_img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

textarea {
  width: 100%;
  height: 50px;
} 

