<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Login Example</title>
    <link rel="stylesheet" type="text/css" href="/static/login-style.css">
    

  </head>
  <body>
    <h1>Login Example</h1>
    <div id="login-form">
      <button id="login-button">Login</button>
      <span id="username-label" style="display:none">Welcome, <span id="username"></span></span>
      <button id="logout-button" style="display:none">Logout</button>
    </div>

    <script src="/static/js/main.js"></script>
  </body>
</html>
