<!DOCTYPE html>
<html>
  <head>
    <title>HaiChatGPT</title>
    <script>
      var source = new EventSource("/stream");
      var i = 0;
      source.onmessage = function(event) {
        if (event.data === "<|im_end|>") {
        source.close();
        return
        }
        var div = document.createElement("div");
        div.className = i % 2 == 0 ? "user-message" : "chatbot-message";
        div.innerHTML = div.className + ":"+ event.data;
        document.getElementById("output").appendChild(div);
        i += 1;
        document.getElementById("output").scrollTop = document.getElementById("output").scrollHeight;
        // document.getElementById("output").innerHTML += event.data;
      };
    </script>
    <script>
      // 监听请求ip，显示在页面上
      var ip_source = new EventSource("/ip_addr");
      ip_source.onmessage = function(event) {
        document.getElementById("ip_addr").innerHTML = "Your ip: " + event.data;
      };
    </script>
    <script>
      // 监听请求qa_pairs，显示在页面上
      var qa_source = new EventSource("/qa_pairs");
      qa_source.onmessage = function(event) {
        // 打印data
        console.log(event.data);
        if (event.data === "<|im_end|>") {
          qa_source.close();
          return
          }
        // 解析qa对，每对的换行符是<|im_br|>分隔符是<|im_sep|>
        var qa_pairs = event.data.split("<|im_br|>");
        for (var i = 0; i < qa_pairs.length; i++) {
          var qa_pair = qa_pairs[i].split("<|im_sep|>");
          var div = document.createElement("div");
          div.className = "qa_pair";
          div.innerHTML = qa_pair[0] + "<br>" + qa_pair[1];
          document.getElementById("qa_pairs").appendChild(div);
        };
      };
    </script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='ai.png')}}"/>
    <!-- <link rel="stylesheet" type="text/css" href="main.css"/> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  </head>

<body>
    <div class="sidebar">
        <div class="new-chat">
          New Chat
        </div>
        <div class="history">
          History
        </div>
        <div class="settings">
          Settings
        </div>
        <div id="ip_addr">ip: </div>
    </div>

    <div class="main">

      <div class="title">
        <img src="{{ url_for('static', filename='ai.png') }}" class="icon" />
        <a class="title2" href="https://code.ihep.ac.cn/zdzhang/hai">HaiChatGPT</a>
        <div>a free trail version based on OpenAI API.</div>
      </div>
      
      <div class="output">
        <div class="qa_pairs" id="qa_pairs"></div>
        <div id="output"></div>
        {% if result %}
        <div class="result">{{ result }}</div>
        {% endif %}
      </div>
      
      <form action="/" method="post">
        <textarea name="prompt" placeholder="输入prompt(支持中英文等)"></textarea>
        <button id="send">send</button>
        <!-- <button>Clear</button> -->
      </form>
    </div>
  </body>
</html>

