<!DOCTYPE html>
<html>
  <head>
    <title>HaiChatGPT</title>
    <script>
      // 该脚本用来监听和显示历史聊天记录，即问答对
      // 监听请求qa_pairs，显示在页面上
      var qa_source = new EventSource("/qa_pairs");
      qa_source.onmessage = function(event) {
        if (event.data === "<|im_end|>") {
          qa_source.close();
          return
          };
        // 解析qa对，每对的换行符是<|im_br|>分隔符是<|im_sep|>
        var qa_pairs = event.data.split("<|im_br|>");
        for (var i = 0; i < qa_pairs.length; i++) {
          var qa_pair = qa_pairs[i].split("<|im_sep|>");
          var qustion_div = document.createElement("div");
          var answer_div = document.createElement("div");
          qustion_div.className = "question_div";
          answer_div.className = "answer_div";
          qustion_div.style.wordWrap = "break-word"; // 自动换行
          answer_div.style.wordWrap = "break-word"; // 自动换行
          // question_div.style.wordWrap = "break-word"; // 自动换行
          // 添加图片
          var img = document.createElement("img");
          img.src = "{{ url_for('static', filename='user.png') }}";
          img.className = "question_img";
          qustion_div.appendChild(img); 
          var ans_imge = document.createElement("img");
          ans_imge.src = "{{ url_for('static', filename='ai.png') }}";
          ans_imge.className = "answer_img";
          answer_div.appendChild(ans_imge);
          
          // 添加问题和答案
          // qustion_div.innerHTML = qa_pair[0];
          // answer_div.innerHTML = qa_pair[1];
          var question_text = document.createTextNode(qa_pair[0]);
          var answer_text = document.createTextNode(qa_pair[1]);
          qustion_div.appendChild(question_text);
          answer_div.appendChild(answer_text);

          document.getElementById("qa_pairs").appendChild(qustion_div);
          // 最后一个答案不添加
          // if (i != qa_pairs.length - 1) {
          //   document.getElementById("qa_pairs").appendChild(answer_div);
          // }
          document.getElementById("qa_pairs").appendChild(answer_div);
          
        };
      };
    </script>
    <!-- <script>
      // 该脚本用来监听和显示最后一次提问，直接显示
      var source = new EventSource("/last_question"); -->
    <script>
      // 该脚本用来监听和显示最后一次的回答，并流式显示
      var source = new EventSource("/stream");
      var i = 0;
      var div = document.createElement("div");
      div.className = i % 2 == 0 ? "user-message" : "chatbot-message";
      
      source.onmessage = function(event) {
        if (event.data === "<|im_end|>") {
          source.close();
          // 启用send按钮
          document.getElementById("send").disabled = false;
          return
        }
        // 禁用send按钮
        document.getElementById("send").disabled = true;
        div.innerHTML += event.data;
        i += 1;
        document.getElementById("last_answer2").innerHTML += event.data;
        // document.getElementById("output").appendChild(div);
        document.getElementById("output").scrollTop = document.getElementById("output").scrollHeight;
      };
    </script>
    <script>
      // 该脚本用来监听请求ip，显示在页面上，ip用于标识用户
      var ip_source = new EventSource("/ip_addr");
      ip_source.onmessage = function(event) {
        document.getElementById("ip_addr").innerHTML = "Your ip: " + event.data;
        ip_source.close();
      };
    </script>
    <!-- <script>
      document.getElementById("prompt").addEventListener("keyup", function(event) {
        // 按shitf+enter，添加回车符, 直接按回车，发送消息
        if (event.shiftKey && event.keyCode === 13) {
          // event.preventDefault();
          document.getElementById("prompt").value += "\n";
        } else if (event.keyCode === 13) {
          // event.preventDefault();
          document.getElementById("send").click();
        }
      });
    </script> -->
    <script>  // 没有用
      document.getElementById("prompt").addEventListener("keyup", function(event) {
        if (event.shiftKey && event.keyCode === 13) {
          document.getElementById("prompt").value += "\n";
        } else if (event.keyCode === 13) {
          document.getElementById("send").click();
        }
      });
    </script>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='ai.png')}}"/>
    <!-- <link rel="stylesheet" type="text/css" href="main.css"/> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  </head>

<body>
    <div class="sidebar">
        <div class="new-chat">
          New Chat
        </div>
        <div class="history">
          提示:
          <li>ChatGPT能回答问题、提供建议、计算数学问题、翻译文本、生成文本、写作、提供知识、提供解决方案、提供娱乐、聊天等
          <!-- <li>一个简单的例子, prompt: 我想让你担任Android开发工程师中文面试官。我将成为候选人，您将向我询问Android开发工程师职位的面试问题。我希望你只作为面试官回答。不要一次写出所有的问题。我希望你只对我进行采访。问我问题，等待我的回答。不要写解释。像面试官一样一个一个问我，等我回答。我的第一句话是“面试官你好” -->
          
          <li><a class='hyper_link' href="https://github.com/PlexPt/awesome-chatgpt-prompts-zh">ChatGPT中文调教指南</a>
          <!-- </li><br></br> -->
          <li>这是使用作者的同一个Key的免费抢先体验版，仅供测试使用。</li>
          <li>当前使用模型是text-davinci-003，性能上不如官网的GPT3.5.</li>
          <li>推荐使用官方版，由于OpenAI不对国内服务，需要科学上网、邮箱、国外的手机号(可用sms-activate代替)，可查阅
            <a class='hyper_link' href="https://code.ihep.ac.cn/zdzhang/haichatgpt/-/blob/main/docs/reg_tutorial.md">
            注册教程</a>。
        </div>
        <div class="settings">
          Settings
        </div>
        <div id="ip_addr">ip: </div>
    </div>

    <div class="main">

      <div class="title">
        <img src="{{ url_for('static', filename='ai.png') }}" class="icon" />
        <a class="title2" href="https://code.ihep.ac.cn/zdzhang/hai">HaiChatGPT</a>
        <div>a free trail version based on <a href="openai.com">OpenAI</a> API.</div>
      </div>
      
      <div class="output" id="output">
        <div class="qa_pairs" id="qa_pairs"></div>
        {% if lastq %}
        <div class="last_question" id="last_question">
          
          <img src="{{ url_for('static', filename='user.png') }}" class="question_img" />
          <div class="question">{{ lastq }}</div>
          
        </div>
        {% endif %}
        {% if result %}
        <div class="last_answer" id="last_answer">
          
          <img src="{{ url_for('static', filename='ai.png') }}" class="answer_img" />
          <div class="last_answer2" id="last_answer2"></div>
           
        </div>
        {% endif %}
      </div>
      
      <form action="/" method="post">
        <textarea name="prompt" placeholder="输入prompt(支持中英文等)" id="prompt" required></textarea>
        <button id="send">send</button>
      </form>
      <form action="/clear" method="post" name="clear_form">
        <button>clear</button>
      </form>
    </div>
  </body>
</html>

